/*--footer--*/
.rodape{
  height: 80px;
}

/*--  boostrap --*/
:root {
  --blue: #425d9e; /*! Gulliver Paleta -- SAN MARINO */
  --green: #557663; /*! Gulliver Paleta -- BASE COLOR DARK-GREEN CYAN */
  --cyan: #2d97a1; /*! Gulliver Paleta -- CYAN TONE */
  --primary: #557663; /*! Gulliver Paleta -- BASE COLOR DARK-GREEN CYAN */
  --secondary: #cad9c3; /*! Gulliver Paleta -- LIGHT SHADE OF GREEN */
  --success: #557663; /*! Gulliver Paleta -- BASE COLOR DARK-GREEN CYAN */
  --light: #edecd5; /*! Gulliver Paleta -- LIGHT SHADE OF YELLOW */
  --bs-link-color: #557663; /*! Gulliver Paleta -- BASE COLOR DARK-GREEN CYAN */
  --bs-link-hover-color: #27362d; /*! Gulliver Paleta -- SOMBRA PARA COLOR DARK-GREEN CYAN */
  --bs-primary-rgb: 202, 217, 195; /*! Gulliver Paleta -- LIGHT SHADE OF GREEN */
  --btn-facebook:#4753BF;
}

/*! Bootstrap original values */
/* :root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
} */

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
