.hospedagem_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../images/hospedagem\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter:opacity(90%);
}

.form {
  max-width: 750px;
  width: 100%;
}

input {
  height: 65px;
}

.local {
  max-width: 450px;
  width: 100%;
}

.date {
  max-width: 200px;
  width: 100%;
}

.btn_search {
  width: 60px !important;
  height: 50px !important;
  background-color: transparent;
}

.hoteis-body {
  margin: 5%;
  margin-top: 2.5rem;
  display: flex;
}

.hotel-image {
  height: 709px;
}

.hotel-image img {
  height: 100%;
  object-fit: fill;
  width: 80%;
  filter:opacity(60%);
}

.card {
  height: 100% !important;
}

.card-footer {
  background-color: var(--cyan);
  color: #fff;
}

#entretenimento .card {
  max-width: 400px;
  width: 100%;
}

.splide__slide .card .card-img {
  height: 185px;
}

h2 {
  margin-top: 5rem;
  color: #2d97a1;
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 1rem;
  font-size: 35px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #474747;
}

@media screen and (max-width: 768px) {
  .hospedagem_header {
    background-position: center;
  }

  .form {
    flex-direction: column;
    row-gap: 1rem;
  }
}