<div class="row align-items-center">

  <div class="col-md-5 col-xl-4 d-none d-md-block">
    <img class="tablet img-fluid" alt="Um homem fazendo login em um tablet" src="../../images/Tablet login-bro.png">
  </div>

  <div class="col-sm-12 col-md-7 col-xl-4">
    <div class="my-5">
      <h1 class="text-center mb-3">ACESSE A SUA CONTA</h1>
      <h2 class="text-center">Já tem uma conta?</h2>
    </div>
    <section class="login m-auto px-2">
      <form>
        <div class="mb-3">
          <input type="email" class="form-control w-100 rounded" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="E-mail" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control w-100 rounded" id="exampleInputPassword1" placeholder="Senha"
            required>
        </div>
        <button type="submit" class="btn w-100 rounded mb-3 summit">Entrar</button>
      </form>
      <center>
        <a href="#" class="text-center mb-5">Esqueci minha senha</a>
      </center>
      <div class="my-4 d-flex justify-content-between">
        <hr>
        <p class="mx-2">OU</p>
        <hr>
      </div>
      <button id="btn-google" class="w-100 mb-3 border-0 mx-auto shadow-lg">
        Entrar com o Google
      </button>
      <button id="btn-facebook" class=" w-100 mb-4 border-0 shadow-lg">
        Entrar com o Facebook
      </button>
      <p class="text-center">Ainda não tem uma conta? <a href="#">Cadastre-se.</a> </p>
    </section>
  </div>

  <div class="col-xl-4 d-none d-xl-block align-self-end">
    <img class="tablet_2 img-fluid" alt="Cinco pessoas conversando" src="../../images/Group-cuate.png">
  </div>

</div>
<link rel="stylesheet" href="./views/login/login.css">