<h1 class="text-center my-5">ACESSE A SUA CONTA</h1>
<h2 class="text-center mb-5">Já tem uma conta?</h2>
<section class="login m-auto px-2">
  <form>
    <div class="mb-3">
      <input type="email" class="form-control w-100 rounded" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="E-mail" required>
    </div>
    <div class="mb-3">
      <input type="password" class="form-control w-100 rounded" id="exampleInputPassword1" placeholder="Senha" required>
    </div>
    <button type="submit" class="btn w-100 rounded mb-3 summit">Entrar</button>
  </form>
  <center>
    <a href="#" class="text-center mb-5">Esqueci minha senha</a>
  </center>
  <div class="my-4 d-flex justify-content-between">
    <hr>
    <p>OU</p>
    <hr>
  </div>
  <button id="btn-google" class="w-100 mb-3 border-0 mx-auto shadow-lg">
    Entrar com o Google
  </button>
  <button id="btn-facebook" class=" w-100 mb-5 border-0 shadow-lg">
    Entrar com o Facebook 
  </button>
  <p class="text-center">Ainda não tem uma conta? <a href="#">Cadastre-se.</a> </p>
</section>






<link rel="stylesheet" href="./views/login/login.css">