<header class="fazer_header  d-flex justify-content-center align-items-center">
    <h3 class="text-center mb-3">Parques, gastronomia, vida noturna e entretenimento</h3>
        <form class="d-flex justify-content-between align-items-center form">
            <input type="text" class="form-control local" placeholder="Para onde você gostaria de ir? *"
                aria-label="Para onde você gostaria de ir? *" required>

            <div class="d-flex justify-content-between align-items-center">
                <input type="date" class="form-control date" placeholder="Data" aria-label="Data" required>
                <button class="border border-0 btn_search">
                    <img src="../../images/icons8-busca-pelo-amor-50.png" alt="Botão para pesquisar">
                </button>
            </div>

        </form>
</header>

<section class="splide container-xxl mb-2" aria-labelledby="carousel-heading">
    <h2 class="mb-4" id="carousel-heading">Principais destinos para o seu fim de semana</h2>

    <div class="splide__track">
        <ul class="splide__list" id="destinos-list"></ul>
    </div>
</section>

<section id="entretenimento" class="container-xxl">
    <h2 class="p-4">Rolê em SP? Conheça diversas opções de entretenimento em São Paulo - SP.</h2>

    <div class="atracoes d-flex justify-content-between">

        <div class="card h-100">
            <img src="../../images/excursão grafitti.jpg" class="card-img-top" alt="Excursão privada de Graffiti">
            <div class="card-body">
                <h5 class="card-title">Excursão privada de Graffiti</h5>
                <span>★★★★★</span>
                <p class="card-text"> A partir de $736 por</p>
            </div>
        </div>


        <div class="card h-100">
            <img src="../../images/caminhada.jpg" class="card-img-top" alt="Caminhada no centro de São Paulo">
            <div class="card-body">
                <h5 class="card-title">Caminhada no centro de SP</h5>
                <span>★★★★★</span>
                <p class="card-text"> A partir de $736 por</p>
            </div>
        </div>

        <div class="card h-100">
            <img src="../../images/favela-paraisopolis.webp" class="card-img-top"
                alt="Tradicional Feijoada na laje com samba">
            <div class="card-body">
                <h5 class="card-title">Favela de Paraisópolis
                </h5>
                <span>★★★★★</span>
                <p class="card-text"> A partir de $736 por</p>
            </div>
        </div>
</section>

<link rel="stylesheet" href="./views/fazer/fazer.css">
<script src="./views/fazer/fazer.js"></script>