body {
  margin: 0;
  padding: 0;
}

.desc-text {
  width: 78%;
}

.destino-titulo {
  font-size: 2.1rem;
  color: #2d97a1;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

.destino-desc {
  font-size: 1.4rem;
}

.splide__slide .card .card-img {
  height: 185px;
}

@media screen and (max-width: 1300px) {
  .description {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }

  #destino-img {
    margin-left: 10%;
    margin-top: 1rem !important;
    width: 80%;
  }

  .desc-text {
    margin-left: 2rem !important;
  }
}

.desc-text {
  margin-top: 3rem;
  margin-left: 11rem;
  margin-right: 25px;
}

#destino-img {
  margin-top: 3rem;
  width: 80%;
}

.card {
  height: 100% !important;
}

.card-footer {
  background-color: var(--cyan);
  color: #fff;
}

h2 {
  color: #2d97a1;
  font-size: 26px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
}

h5 {
  color: rgb(55, 55, 55);
}
