<header class="destinos_header p-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" onclick="navToInicio(this)">Início</a></li>
            <li class="breadcrumb-item active" id="destino-nome" aria-current="page"></li>
        </ol>
    </nav>
    <div class="description d-flex justify-content-between align-items-center">
        <div class="desc-text">
            <h5 id="destino-titulo" class="destino-titulo"></h5>
            <p id="destino-desc" class="destino-desc text-muted"></p>
        </div>
        <aside>
            <img id="destino-img" class="img-fluid justify-content-between align-items-center" src=""
                alt="Imagem descrição do destino">
        </aside>
    </div>
</header>

<section class="mb-2 container">
    <div class="mx-auto">
        <h2 class="mb-4">Clima atual em <span id="destino"></span></h2>
        <div id="clima" class="d-flex gap-4"></div>
    </div>
</section>

<section class="splide container-xxl mb-2" aria-labelledby="carousel-heading">
    <h2 class="mb-4" id="carousel-heading">Melhores Restaurantes</h2>

    <div class="splide__track">
        <ul class="splide__list">
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/laguiole-lab.jpg"
                            alt="Restaurante Laguiole Lab">
                        <h5 class="card-title">Laguiole Lab</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$60.00
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/cipriani.webp"
                            alt="Restaurante Cipriani">
                        <h5 class="card-title">Cipriani</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$100.00
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/olympe.jpg"
                            alt="Restaurante Olympe">
                        <h5 class="card-title">Olympe</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$80.00
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/casa-da-mamma-niteroi.jpg"
                            alt="Restaurante Mamma Jamma">
                        <h5 class="card-title">Mamma Jamma</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro </p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$120.00
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/Pobre-juan.webp"
                            alt="Restaurante Pobre Juan">
                        <h5 class="card-title">Pobre Juan</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$90.00
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/restaurantes/teva.jpg"
                            alt="Restaurante Teva">
                        <h5 class="card-title">Teva</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$50.00
                    </div>
                </div>
        </ul>
    </div>
</section>

<section class="splide container-xxl mb-5" aria-labelledby="carousel-heading">
    <h2 class="mb-4" id="carousel-heading">Melhores Pousadas / Hotéis</h2>

    <div class="splide__track">
        <ul class="splide__list">
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/fairmont.jpg"
                            alt="Hotel Fairmont Rio de Janeiro Copacabana">
                        <h5 class="card-title">Fairmont Rio de Janeiro Copacabana</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$1.170 a diària
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/france.jpg"
                            alt="Hotel Colline de France">
                        <h5 class="card-title">Hotel Colline de France</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Gramado</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$1.495 a diària
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/bravaria.jpg"
                            alt="Bravaria Sport Hotel">
                        <h5 class="card-title">Bravaria Sport Hotel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Gramado</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$340 a diària
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/ort.jpg" alt="Ort Hotel">
                        <h5 class="card-title">Ort Hotel</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Campos do Jordão</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$1.255 a diària
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/hyatt.jpg"
                            alt="Hotel Grand Hyatt São Paulo">
                        <h5 class="card-title">Grand Hyatt São Paulo</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">São Paulo</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$798 a diària
                    </div>
                </div>
            </div>
            <div class="splide__slide">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/hoteis/miramar.jpg"
                            alt="Miramar Hotel by Windsor">
                        <h5 class="card-title">Miramar Hotel by Windsor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Rio de Janeiro</p>
                    </div>
                    <div class="card-footer text-center">
                        A partir de R$567 a diària
                    </div>
                </div>
        </ul>
    </div>
</section>

<link rel="stylesheet" href="./views/destinos/destinos.css">
<script src="./views/destinos/destinos.js"></script>