.card {
  cursor: pointer;
}

.inicio-header {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image:  url(../../images/Turismo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 72vh;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  justify-content: start;
  flex-direction: row-reverse;
  column-gap: 2%;
}

.search-label {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.form-floating {
  width: 20%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
  .form-floating {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .form-floating {
    width: 60%;
  }
}

h2 {
  color: #2D97A1;
  font-size: 28px;
}

h3 {
  color: #fff;
  font-family: 'Plus Jakarta Sans', sans-serif;
  margin-top: 1rem;
  font-size: 40px;
  font-weight: 800;
  text-shadow: 2px 2px 2px #474747;
}