<header class="inicio-header">  
        <h1 class="text-center">Diga sim para novos momentos.</h5>

    <div class="form-floating mt-0 mb-5">
        <input type="text" class="form-control" id="search" placeholder="Qual é o seu destino?">
        <label class="search-label w-100" for="floatingInput">Qual é o seu destino? <span
                class="material-symbols-outlined">search</span></label>
    </div>
</header>

<section class="splide container-xxl mb-2" aria-labelledby="carousel-heading">
    <h2 class="mb-4" id="carousel-heading">Principais destinos para o seu fim de semana</h2>

    <div class="splide__track">
        <ul class="splide__list" id="destinos-list"></ul>
    </div>
</section>

<section class="splide container-xxl mb-2" aria-labelledby="carousel-heading">
    <h2 class="mb-4" id="carousel-heading">Curta com a família</h2>

    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/museu.png" alt="Museu do Amanhã">
                        <h5 class="card-title">Museu do Amanhã</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Museus</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/escadaria.jpg" alt="Escadaria Selarón">
                        <h5 class="card-title">Escadaria Selarón</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Pontos de interesse</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/copacabana.jpg" alt="Praia de Copacabana">
                        <h5 class="card-title">Praia de Copacabana</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Praias</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/cristo.jpg" alt="Corcovado - Cristo Redentor">
                        <h5 class="card-title">Corcovado - Cristo Redentor</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Praias</p>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img w-100 pb-2" src="../../images/beto-carrero.jpg" alt="Beto Carrero World">
                        <h5 class="card-title">Beto Carrero World</h5>
                        <h6 class="card-subtitle mb-2 text-muted">★★★★★</h6>
                        <p class="card-text">Parques</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<link rel="stylesheet" href="./views/inicio/inicio.css">
<script src="./views/inicio/inicio.js"></script>