@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.card {
  cursor: pointer;
}

.inicio-header {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image:  url(../../images/Turismo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -10% !important;
  filter: opacity(100%);
  z-index: 1;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  justify-content: start;
  flex-direction: row-reverse;
  column-gap: 2%;
}

.search-label {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.form-floating {
  width: 20%;
  margin-bottom: 5rem !important;
}

@media screen and (max-width: 1300px) {
  .form-floating {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .form-floating {
    width: 60%;
  }
  .inicio-header {
    background-position: center;
  }

  h2 {
    font-size: 130% !important;
  }

  h3 {
    font-size: 150% !important;
  }
}

h2 {
  color: #2D97A1;
  font-size: 26px;
}

h1 {
  color: #d7e3d1;
  text-shadow: 2px 2px 2px #474747;
  font-family: 'Berkshire Swash', cursive;
  font-weight: 500;
  font-size: 200%;
  letter-spacing: 0.7px;
  padding-top: 36vw !important;
}
